.floating__nav {
  background: rgba(0, 0, 200, 0.3);
  width: max-content;
  height: max-content;
  padding: 0.7rem 1.7rem;
  z-index: 999999;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: calc(100vh - 5rem);
  display: flex;
  gap: 0.8rem;
  overflow: hidden;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

.floating__nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

.floating__nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.floating__nav a.active {
  background: var(--color-primary);
  color: var(--color-white);
}
